@font-face {
    font-family: "Galantis";
    src: url('./Galantis.otf');
}

@font-face {
    font-family: "Rosellinda Alyamore";
    src: url('./Rosellinda\ Alyamore.otf');
}

@font-face {
    font-family: "Golden Plains";
    src: url('./Golden\ Plains.ttf');
}