

.Main__ProductContainer > * {
    aspect-ratio: 1;
}


@media screen and (max-width:1024px) {
    .mainSection {
        background: linear-gradient(to top left,
                #f6f6f6 0%,
                #f6f6f6 50%,
                #fff 50%,
                #fff 100%);
    }



    .mainSection button {
        display: block;
        background: #f6f6f6;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
        animation: pulse 2s infinite;
    }

    .mainSection button:hover {
        animation: none;
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(246, 246, 246,0.4);
            box-shadow: 0 0 0 0 rgba(246, 246, 246,0.4);
        }

        70% {
            -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }

        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }

}




@media screen and (min-width:1024px) {
    .mainSection {
        background: linear-gradient(to left,
                #fff 0%,
                #fff 60%,
                #f6f6f6 60%,
                #f6f6f6 100%);
    }

    .mainSection button {
        display: block;
        background: #faa434;
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
        animation: pulse 2s infinite;
    }
        .mainSection button:hover {
        animation: none;
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(250, 164, 52,0.4);
            box-shadow: 0 0 0 0 rgba(250, 164, 52,0.4);
        }

        70% {
            -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }

        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }


}