@media screen and (max-width:1024px) {
    .mainSection {
        background: linear-gradient(to top left,
                #faa434 0%,
                #faa434 50%,
                #FDC830 50%,
                #FDC830 100%);
    }



    .mainSection button {
        display: block;
        background: #ffffff;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
        animation: pulse 2s infinite;
    }

    .mainSection button:hover {
        animation: none;
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        }

        70% {
            -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }

        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }

}




@media screen and (min-width:1024px) {
    .mainSection {
        background: linear-gradient(to left,
                #fff 0%,
                #fff 60%,
                #faa434 60%,
                #faa434 100%);
    }

    .mainSection button {
        display: block;
        background: #faa434;
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
        animation: pulse 2s infinite;
    }
        .mainSection button:hover {
        animation: none;
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(250, 164, 52,0.4);
            box-shadow: 0 0 0 0 rgba(250, 164, 52,0.4);
        }

        70% {
            -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        }

        100% {
            -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        }
    }

}