.Product {
  cursor: pointer;
  background-color: #f6f6f6


}

.Product .Product__ImageContainer{
  grid-area: 1/1/2/2;
  


}

.Product__Info{
  grid-area: 2/1/3/2;

}



.Product img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

::-webkit-scrollbar {
  display: none;
}

.product__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;

}