.Product {
  border-radius: 8px;
  background: #FFF;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

}

.discountBackground {
  clip-path: polygon(73% 0, 73% 100%, 46% 66%, 21% 100%, 22% 0);
  background-color: #faa434;
}

.Product img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

::-webkit-scrollbar {
  display: none;
}

.product__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;

}