.navbar__icons i {
    color: #faa434;
    margin: 0 20px;
    font-size: 30px;
}

.navbar__icons i:hover {
    color: #2f3640;
    transition: color 0.5s;
}

.navbar__ul li:hover {
    color: #faa434;
    cursor: pointer;
}

.mobile__Navbar {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 3.5rem;
    left: 0;
    transition: all 3s 1;
}

.mobile__Navbar li {
    padding: 1rem;
    border-bottom: 0.5px solid #212121;
    font-family: "sfp_Regular";
}

.mobile__Navbar a :hover {
    background-color: #faa434;
    border-bottom: 0.5px solid #212121;
    color: #fff;

}


/*search Bar*/

.searchBox {
    background: transparent;
    height: 40px;
    border-radius: 40px;


}

.searchBox:hover>.searchInput {
    width: 240px;
    padding: 0 6px;
    border-bottom: 1px solid#faa434;
    color: #212121;

}

.searchBox:hover>.searchButton {

    color: #2f3640;
}

.searchButton {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
    .searchBox:hover>.searchInput {
        width: 150px;
        padding: 0 6px;
    }
}